.card-container {
    position: relative;
    border-radius: 20px;
    border: 1px solid lightgray;
    overflow: hidden;
    margin-bottom: 20px;
    .card-home-header {
      display: flex;
      justify-content: space-between;
      .card-home-subtitle {
        font-size: 0.7em;
        color: rgb(150, 150, 150)
      }
      .button-title{
        display: flex;
        align-items: center;
    }
      }
      .card-title {
        font-weight: 600;
      }
      .card-header-button {
        margin-right: 1.5em;
      }
    }

.card-home-footer {
    font-size: 0.8em;
}

.card-home-button {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .action {
    display: flex;
    align-items: center;
    gap: 5px; /* Avvicina l'icona al bottone */
  }
  
  button {
    display: flex !important;
    align-items: center !important;
    font-weight: 600 !important; /* Imposta il font-weight per rendere il testo più marcato */
    border: none; /* Se non vuoi bordi */
    background-color: transparent;
    padding: 20px; /* Se desideri che i pulsanti abbiano uno sfondo trasparente */
  }
  button:hover {
    background-color: rgb(230, 230, 230) !important;
  }
  
  i {
    font-size: 18px; /* Se hai bisogno di aggiustare la dimensione dell'icona */
  }