.card-profile-wrapper {
  position: relative;
  border-radius: 20px;
  border: 1px solid lightgray;
  overflow: hidden;
  margin-bottom: 20px;
  .card-header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 1.4em;
      font-weight: 600;
    }
    .card-button {
      border-radius: 37px;
      margin-right: 20px;
      padding: 5px 20px;
      font-weight: 500;
    }
    .caption {
      font-weight: 500;
    }
  }

  .content-title {
    margin-top: 10px;
    font-weight: 500;
  }
  .card-content {
    margin: 0 20px 20px 20px;
  }
  .card-footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    align-items: center;
    padding: 10px;
    gap: 5px;
    font-weight: 500;
  }
  .card-footer:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
  }
}

.plus-button {
  width: 3em;
  height: 35px;
}

.plus-button:hover {
  cursor: pointer;
}

/* Rimuove l'ombra/bordo azzurrino dalla "X" del modale */
.modal-header .btn-close:focus {
  box-shadow: none;
}

/* grandezza modale */
.custom-modal .modal-dialog {
    max-width: 50vw;
    max-height: 80vh;
  }
  
  /* Rimuove l'ombra/bordo azzurrina dal campo di input */
  .no-focus:focus {
    box-shadow: none;
    border-color: #ced4da;
  }
  
  /* Cursore pointer per le icone */
  .icon-pointer {
    cursor: pointer;
    color: grey;
  }
  
  /* Pulsante "Pubblica" disattivato */
  .disabled-button {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
  }
  
