.bgApp {
  background-color: #f4f2ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.infoProfile {
  color: #0a66c2;
}

.infoProfile:hover {
  text-decoration: underline;
}

.sizeImg {
  width: 150px;
  height: 150px;
}

.btnBg {
  background-color: #0a66c2 !important;
}

.btnBg:hover {
  background-color: #004182 !important;
}

.rounded {
  font-size: 0.9rem;
}

.btnOutline {
  border-color: #0a66c2 !important;
  color: #0a66c2 !important;
}

.btnOutline:hover {
  border-color: #004182 !important;
  background-color: #ebf4fd !important;
}

.borderDashed {
  border-style: dashed !important;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.nav-icon {
  font-size: 1.4rem;
}

.nav-icon:hover {
  color: black;
}

.nav-text {
  font-size: 0.75rem;
  text-align: center;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.navbar .form-control {
  max-width: 300px;
  background-color: #edf3f8;
  height: 35px;
}

.navbar .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.navbar .dropdown-toggle::after {
  margin-left: 0.5rem;
}

.dropdown-item button {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  padding: 0px 10px;
  text-align: center;
}

.dropdown-profile {
  display: flex;
  align-items: center;
}

.dropdown-profile img {
  height: 40px;
  margin-right: 10px;
}

.dropdown-profile strong {
  display: block;
}

.dropdown-profile p {
  margin: 0;
}

.dropdown-section {
  padding: 10px 0;
}

.dropdown-section hr {
  margin: 10px 0;
}

.dropdown-section a {
  display: block;
  padding: 5px 0;
  color: black;
  text-decoration: none;
}

.dropdown-section a:hover {
  text-decoration: underline;
}

.dropdown-section .icon {
  font-size: 0.75rem;
  color: #007bff;
  margin-left: 5px;
}

.visualizProfile-button:active {
  background-color: white !important;
}

.search-input {
  background-color: #edf3f8;
  height: 35px;
}

.nav-dropdown-title {
  display: flex;
  align-items: center;
}

.nav-dropdown-title .nav-text {
  margin-left: 5px;
}

.nav-profile-img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.separator-bar {
  width: 1px;
  height: 40px;
  background-color: #ccc;
  margin: 0 15px;
}

.icon-with-text {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.icon-with-text .icon {
  margin-right: 5px;
}

.dropdown-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.dropdown-columns .column {
  margin: 0 20px;
}

.dropdown-columns .column a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  white-space: nowrap;
}

.dropdown-columns .column a:hover {
  color: blue;
  text-decoration: underline;
}

.dropdown-columns .column .icon {
  margin-right: 5px;
}

.separator-bar {
  width: 1px;
  height: auto;
  background-color: #ccc;
  margin: 0 15px;
}
.icon-above-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.icon {
  font-size: 24px;
}
.separator-bar {
  width: 2px;
  height: auto;
  background-color: #c5b8b8;
  margin: 0 15px;
}

/* Box Messaggi */

.messaging-box {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 15vw;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: height 0.3s ease-in-out;
  overflow: hidden; /* Nasconde il contenuto che esce dai limiti */
  height: 60px; /* Altezza iniziale */
}

.messaging-box.open {
  height: 90vh; /* Altezza massima del box quando è aperto */
}

.messaging-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user-image {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #ccc; /* Placeholder per l'immagine dell'utente */
}

.icons i {
  margin-left: 1em;
  cursor: pointer;
}

/* Stili per la barra di ricerca della messaggistica */

.search-box {
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
  margin: 0 8px;
}

.search-box:focus-within {
  border-color: black;
}

.search-icon,
.filter-icon {
  border: none;
  cursor: pointer;
  background-color: white;
}

.search-input {
  border: none;
  outline: none;
  box-shadow: none;
}

.search-input:focus {
  border-color: black;
  box-shadow: none; /* Rimuove il bordo azzurrino al focus */
}

.search-input::placeholder {
  color: #888;
}

.messaging-box {
  min-width: 300px;
  max-width: 400px;
} /* Questa regola è per far mantenere la larghezza del box messaggistica
 anche rimpicciolendo la pagina, finchè non scompare */

.no-messages {
  text-align: center;
}

.messaging-button {
  background-color: white !important;
  color: black !important;
  border: none;
}

/* Footer */

footer .footer-link {
  font-size: 0.8em;
}

footer p {
  font-size: 0.8em;
}

.footer-link {
  text-decoration: none;
  color: #6c757d;
}

.footer-link:hover {
  text-decoration: underline !important;
  color: #0776e6 !important;
}
.iconBlu {
  color: #0a66c2;
}
.iconPlus {
  width: 4%;
}
a {
  text-decoration: none;
  color: inherit;
}
.dropdown-columns .column a:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #0a66c2;
}

.dropdown-columns .column a:hover p,
.dropdown-columns .column a:hover strong,
.dropdown-columns .column a:hover div {
  color: inherit;
}
.small-text {
  font-size: 0.8rem;
}
.secSmalltext {
  font-size: 0.8rem;
  color: gray;
}

.supersmalltext {
  font-size: 0.6em;
}

.DropdownColortext {
  color: #232323;
}
.workIconColor {
  color: #575757;
}
.workIconColor:hover {
  color: black;
}
#navbarScrollingDropdown {
  padding-top: 0 !important;
}
.secondary-title {
  font-size: 0.7rem;
  color: var(--bs-secondary);
}

.premium-link {
  font-size: 0.7rem;
}

.icon-blue {
  font-size: 0.6rem;
  color: #0a66c2;
}

.black-title {
  font-size: 0.7rem;
  color: #232323;
}

.secondary-text {
  font-size: 0.7rem;
  color: var(--bs-secondary);
}

.list-item {
  font-size: 0.8rem;
}

.icon-small {
  font-size: 0.7rem;
}
.reduced-font {
  font-size: 0.7rem !important;
}

.reduced-font-link {
  font-size: 0.7rem;
}
.fontStory {
  font-size: 0.8rem;
}
.firstp {
  color: #232323;
  font-size: 0.8rem;
}
.secP {
  font-size: 0.6rem;
}

.imageSearch {
  width: 30px !important;
  height: 30px !important;
}
.horizontal-list {
  font-size: 0.9em;
}

.horizontal-list .footer-link {
  font-weight: normal;
}

.horizontal-list .dot {
  margin: 0 5px;
}

.horizontal-list li {
  display: flex;
  align-items: center;
}

.horizontal-list li:not(:last-child) {
  margin-right: 10px;
}
.search-job-img {
  width: 35%;
  height: auto;
}
.logo-img {
  height: 1.2em;
}
.custom-hover {
  color: inherit;
}

.custom-hover:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}
.small-dropdown .dropdown-menu {
  font-size: 0.8rem;
}

.small-dropdown .dropdown-item p {
  margin: 0;
}

.small-dropdown .small-text {
  font-size: 0.7rem;
}

.small-dropdown .small-icon {
  width: 2%;
}
.textPlus {
  font-size: 1rem;
}
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.icon-style {
  font-size: 1.1rem;
  color: #404040;
}

.text {
  font-size: 0.8rem;
  color: #404040;
}
.btnJob {
  border-radius: 60px;
  font-size: 0.9rem;
  transition: background-color 0.2s, border-color 0.2s;
}

.btnJob:hover {
  border-color: #004182;
  background-color: #e1e8ee;
}
.twoLabel {
  width: 300px;
}

.imageSet {
  width: 50px !important;
  height: 50px !important;
}

.post-list-wrapper {
  margin-top: 20px;
}

.post {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.post-list-wrapper {
  margin-top: 20px;
}

.sizeImg {
  width: 100px;
  height: 100px;
}

.post {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.fs-small {
  font-size: 0.8em;
}

.card-profile-wrapper {
  position: relative;
  border-radius: 20px;
  border: 1px solid lightgray;
  overflow: hidden;
  margin-bottom: 20px;
  .card-header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 1.4em;
      font-weight: 600;
    }
    .card-button {
      border-radius: 37px;
      margin-right: 20px;
      padding: 5px 20px;
      font-weight: 500;
    }
    .caption {
      font-weight: 500;
    }
  }

  .content-title {
    margin-top: 10px;
    font-weight: 500;
  }
  .card-content {
    margin: 0 20px 20px 20px;
  }
  .card-footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    align-items: center;
    padding: 10px;
    gap: 5px;
    font-weight: 500;
  }
  .card-footer:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
  }
}

.plus-button {
  width: 3em;
  height: 35px;
}

.plus-button:hover {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer-pop {
  cursor: pointer;
}

.cursor-pointer-pop:hover {
  background-color: rgb(237, 237, 237);
}

/* Rimuove l'ombra/bordo azzurrino dalla "X" del modale */
.modal-header .btn-close:focus {
  box-shadow: none;
}

/* Rimuove l'ombra/bordo azzurrina dal campo di input */
.no-focus:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.custom-modal .modal-content {
  height: 100%;
}

.icon-pointer {
  cursor: pointer;
  color: grey;
}

/* Pulsante "Pubblica" disattivato */
.disabled-button {
  background-color: #d3d3d3 !important;
  border-color: #d3d3d3 !important;
  color: grey !important;
}

/* Pulsante "Pubblica" attivato */
.active-button {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
}

.disabled-button:hover {
  cursor: not-allowed !important;
}

.card-container {
  position: relative;
  border-radius: 20px;
  border: 1px solid lightgray;
  overflow: hidden;
  margin-bottom: 20px;
  .card-home-header {
    display: flex;
    justify-content: space-between;
    .card-home-subtitle {
      font-size: 0.7em;
      color: rgb(150, 150, 150);
    }
    .button-title {
      display: flex;
      align-items: center;
    }
  }
  .card-title {
    font-weight: 600;
  }
  .card-header-button {
    margin-right: 1.5em;
  }
}

.card-home-footer {
  font-size: 0.8em;
}

.card-home-button {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action {
  display: flex;
  align-items: center;
  gap: 5px; /* Avvicina l'icona al bottone */
}

button {
  display: flex !important;
  align-items: center !important;
  font-weight: 600 !important; /* Imposta il font-weight per rendere il testo più marcato */
  border: none;
  background-color: transparent;
  padding: 20px; /* Se desideri che i pulsanti abbiano uno sfondo trasparente */
}

.lightButton:hover {
  background-color: #ebf4fd !important;
  color: #0a66c2 !important;
}

i {
  font-size: 18px;
}

.sizePers {
  width: 7% !important;
}

.w-15 {
  width: 10% !important;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.popup-nav {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
}

.popup-nav.show {
  opacity: 1;
  animation: slideDown 0.5s ease-in-out forwards;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-popuNav:hover {
  background-color: #004182;
}

.btn-AddSection:hover {
  background-color: #ebf4fd;
  border: 2px solid #004182;
}
